@font-face {
	font-family: "Uncut";
	src: url("UncutSans-Variable.ttf");
	font-weight: 300 700;
}
:root {
	--offwhite: #FFF4E1;
	--offblack: #3a3732;
	--yellow: #EACE13;
	--green: #4A6851;
	--pink: #DEADA9;
	--brown: #C66B1F;
	--gray: #AEA39B;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--offblack);
	font-family: "Uncut", sans-serif;
	margin-left: 40px;
}
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100dvh;
	z-index: 9;
	background-color: var(--offblack);
	color: var(--offwhite);
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-transform: uppercase;
	width: 40px;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border: 1px solid black;
	outline: 1px solid black;
}
.navbar-title {
	font-weight: normal;
	font-size: 24px;
	color: var(--offwhite);
}
.navbar a {
	color: var(--offwhite);
	font-size: 24px;
	text-decoration: none;
}
.navbar a:hover {
	opacity: .5;
}
.navbar a:active {
	opacity: .25;
}
.navbar-spacer {
	flex-grow: 1;
}
.header {
	height: 50vh;
	position: relative;
}
.header-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: .5;
	background: linear-gradient(0deg, black 0%, rgba(0,0,0,0) 25%), linear-gradient(90deg, black 0%, rgba(0,0,0,0) 25%), linear-gradient(180deg, black 0%, rgba(0,0,0,0) 25%), linear-gradient(270deg, black 0%, rgba(0,0,0,0) 25%);
	z-index: 9;
}
.header-message {
	position: absolute;
	z-index: 9;
	width: 500px;
	height: 200px;
	background-color: var(--offblack);
	color: var(--offwhite);
	bottom: 40px;
	right: 40px;
	transform-origin: bottom right;
	transform: scale(1);
	padding: 20px;
	overflow-y: scroll;
	font-size: 24px;
	line-height: 1.2em;
	letter-spacing: -0.02em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	transition: transform 2s cubic-bezier(0.16, 1, 0.3, 1);
	border: 1px solid black;
	outline: 1px solid black;
	box-shadow: 10px 10px 0 black;
}
.header-message p {
	font-size: inherit;
	line-height: inherit;
}
.header-message-btn {
	text-decoration: underline;
	cursor: pointer;
}
.header-message-btn:hover {
	text-decoration: none;
}
.header-message-btn:active {
	opacity: .5;
}
.header-message[data-active="0"] {
	transform: translateX(calc(100% + 50px));
}
.weaving {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	height: 100%;
	background-color: var(--offblack);
	overflow: hidden;
}
.weaving div {
	--highlight: var(--brown);
	background-color: var(--highlight);
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	text-transform: uppercase;
	color: black;
	letter-spacing: 0.05em;
	padding: 5px 10px;
	border: 1px solid black;
	outline: 1px solid black;
	transition: transform .2s, box-shadow .2s;
	font-variation-settings: "wght" 600, "ital" 0;
	animation: weaving-unit 1s infinite alternate cubic-bezier(0.65, 0, 0.35, 1);
}
@keyframes weaving-unit {
	0% {
		transform: translate(3px, 3px);
	}
	100% {
		transform: translate(-3px, -3px);
	}
}
/* .weaving div:hover {
	transform: translate(-5px, -5px);
	box-shadow: 5px 5px 0 var(--highlight);
}
.weaving div:active {
	background-color: var(--offblack);
	transform: translate(0, 0);
	box-shadow: 0 0 0 var(--highlight);
	color: var(--offwhite);
} */
.toc {
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr;
	grid-auto-rows: 1fr;
	position: relative;
	z-index: 10;
	background-color: var(--offblack);
}
.toc-link {
	--highlight: var(--green);
	color: var(--offwhite);
	padding: 20px 20px 80px 20px;
	text-decoration: none;
	font-size: 24px;
	line-height: 1.2em;
	letter-spacing: -0.02em;
	position: relative;
	background-color: var(--highlight);
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	transition: transform .2s;
	border: 1px solid black;
	outline: 1px solid black;
	font-variation-settings: "wght" 400, "ital" 0;
}
.toc-link:hover {
	background-color: var(--offwhite);
	color: black;
	transform: translate(-10px, -10px);
}
.toc-link:active {
	background-color: var(--offblack);
	transform: translate(0, 0);
	color: var(--offwhite);
}
.toc-spacer {
	--highlight: var(--brown);
	background-color: var(--highlight);
	border: 1px solid black;
	outline: 1px solid black;
}
.footer {
	background-color: var(--offblack);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 25vh;
	padding: 80px;
	color: var(--offwhite);
	border: 1px solid black;
	outline: 1px solid black;
}