@font-face {
	font-family: "Limkin";
	src: url("limkin.ttf");
	font-weight: 100 900;
}
:root {
	--offblack: #1b1b1b;
	--offwhite: #f1f1f1;
}
* {
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Limkin", sans-serif;
	font-variation-settings: "wght" 300, "SRFF" 0;
	color: var(--offwhite);
	background-color: rgba(0,0,0,.9);
}

/* Structure */
.gs24-home-container {
	padding-top: calc(100svh - 60px);
}
.gs24-header {
	width: 100vw;
	height: calc(100svh - 60px);
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;
}
.gs24-title-seo {
	display: none;
}
.gs24-home-content {
	position: relative;
}
@media only screen and (max-width: 800px) {
	.gs24-header {
		grid-template-columns: 1fr;
		grid-template-rows: 1.5fr 1fr;
	}
	.gs24-title {
		order: 2;
	}
}

/* Title */
.gs24-title {
	width: 100%;
	height: 100%;
	z-index: 1;
	--width: 20vw;
	--height: 9vw;
	position: relative;
	display: flex;
	overflow: hidden;
}
.gs24-title-column {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	font-size: 8vw;
	text-align: center;
	transition: flex-grow 1s cubic-bezier(0.83, 0, 0.17, 1);
	flex-basis: 0;
}
.gs24-title-column div {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1em;
	transition: flex-grow 1s cubic-bezier(0.83, 0, 0.17, 1);
	font-variation-settings: "wght" 200, "SRFF" 0;
	animation: title-in 1s forwards cubic-bezier(0.16, 1, 0.3, 1);
	transform: scale(0);
	transform-origin: bottom right;
}
@keyframes title-in-x {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}
@keyframes title-in-y {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}
.gs24-title-column div span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: .2em .2em 0 .2em;
	transition: background-color 1s, font-variation-settings 1s;
}
.gs24-title-column div[data-title="0"] {
	color: var(--offblack);
	background-color: var(--offwhite);
}
.gs24-title-column div[data-title="1"] {
	color: var(--offwhite);
	background-color: var(--offblack);
}
.gs24-title-column div[data-title="2"] {
	color: var(--offblack);
	background-color: var(--offwhite);
}
.gs24-title-column div[data-title="3"] {
	color: var(--offwhite);
	background-color: var(--offblack);
}

/* Generative artwork */
.gs24-header-genart {
	flex-grow: 1;
	display: flex;
	position: relative;
	overflow: hidden;
}
.gs24-header-genart-col {
	flex-grow: 1;
	display: flex;
	position: relative;
	flex-direction: column;
	transition: flex-grow 1s cubic-bezier(0.25, 1, 0.5, 1);
	transform-origin: bottom;
}
.gs24-header-genart-col[data-active="1"] {
	flex-grow: 15;
}
.gs24-header-genart-row {
	position: relative;
	flex-grow: 1;
	transition: flex-grow 1s cubic-bezier(0.25, 1, 0.5, 1);
	overflow: hidden;
	transform: scale(0);
	animation: gs24-header-genart-in 1s forwards cubic-bezier(0.16, 1, 0.3, 1);
}
@keyframes gs24-header-genart-in-x {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes gs24-header-genart-in-y {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
.gs24-header-genart-row[data-active="1"] {
	flex-grow: 10;
}
.gs24-header-genart-slices {
	overflow: hidden;
	display: flex;
	width: 100%;
	height: 100%;
}
.gs24-header-genart-slice {
	flex-grow: 1;
	background-size: auto 100000%;
	position: relative;
	background-repeat: no-repeat;
	transition: flex-grow 2s cubic-bezier(0.25, 1, 0.5, 1), background-size 1s cubic-bezier(0.7, 0, 0.84, 0);
}
.gs24-header-genart-slice[data-active="1"] {
	flex-grow: 25;
	background-size: auto 200%;
	transition: flex-grow 2s cubic-bezier(0.25, 1, 0.5, 1), background-size 1s cubic-bezier(0.25, 1, 0.5, 1);
}
@keyframes background-shift {
	0% {
		background-position: center;
	}
	25% {
		background-position: right;
	}
	50% {
		background-position: center;
	}
	75% {
		background-position: left;
	}
	100% {
		background-position: center;
	}
}

/* Genart fullscreen mode */
.gs24-genart-toggle {
	height: 60px;
	width: 60px;
	padding: 15px;
	background-color: var(--offwhite);
	cursor: pointer;
}
.gs24-genart-toggle svg {
	width: 100%;
	height: 100%;
}
.gs24-genart-toggle:hover {
	background-color: var(--offblack);
	fill: var(--offwhite);
}
.gs24-genart-toggle:active {
	opacity: .5;
}
.gs24-home-container[data-genart="1"] .gs24-header {
	z-index: 99;
	height: 100dvh;
}
.gs24-home-container[data-genart="1"] .gs24-title {
	display: none;
}
.gs24-home-container[data-genart="1"] .gs24-home-content {
	display: none;
}
.gs24-home-container[data-genart="1"] .gs24-header-genart {
	position: fixed;
	cursor: crosshair;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	z-index: 999;
}
.gs24-home-container[data-genart="1"] .gs24-header-genart-col:hover {
	flex-grow: 5;
}
.gs24-home-container[data-genart="1"] .gs24-header-genart-row:hover {
	flex-grow: 5;
}
.gs24-home-container[data-genart="1"] .gs24-header-genart-slice:hover {
	flex-grow: 5;
	background-size: auto 200%;
	transition: flex-grow 2s cubic-bezier(0.25, 1, 0.5, 1), background-size 1s cubic-bezier(0.25, 1, 0.5, 1);
}
.gs24-genart-controls {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	z-index: 9999;
}
.gs24-home-container[data-genart="0"] .gs24-genart-controls {
	display: none;
}
.gs24-genart-controls-btn {
	width: 60px;
	height: 60px;
	background-color: var(--offwhite);
	fill: var(--offblack);
	cursor: pointer;
	padding: 15px;
}
.gs24-genart-controls-btn svg {
	width: 100%;
	height: 100%;
}
.gs24-genart-controls-btn:hover {
	background-color: var(--offblack);
	fill: var(--offwhite);
}
.gs24-genart-controls-btn:active {
	opacity: .5;
}

/* Background credit */
.gs24-header-credit {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 300px;
	background-color: var(--offwhite);
	z-index: 9;
	padding: 10px;
	color: var(--offblack);
	line-height: 1.2em;
	font-size: 16px;
	transform-origin: bottom right;
	transform: translate(100%);
	transition: transform .5s;
}
.gs24-header-credit-name {
	font-variation-settings: "wght" 600, "SRFF" 0;
}
.gs24-header-credit-title {
	margin-bottom: 8px;
}
.gs24-header-credit-title span {
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-style: italic;
}
.gs24-header-credit-dept {
	margin-top: 8px;
	margin-bottom: 8px;
}
.gs24-header-credit-link {
	margin-top: 4px;
	color: var(--offwhite);
	display: inline-block;
	text-decoration: none;
	font-variation-settings: "wght" 600, "SRFF" 0;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .03em;
	padding: .3em .5em .1em .5em;
	background-color: var(--offblack);
	border: 1px solid var(--offblack);
}
.gs24-header-credit-link:hover {
	background-color: var(--offwhite);
	color: var(--offblack);
}
.gs24-header-credit-link:active {
	opacity: .5;
}

/* Department table of contents */
.gs24-toc {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	padding: 1px;
	gap: 1px;
	background-color: var(--offblack);
	z-index: 5;
	position: relative;
	height: calc(100dvh - 60px);
}
.gs24-toc-link {
	color: var(--offwhite);
	font-variation-settings: "wght" 600, "SRFF" 0;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 40px 80px 0;
	display: flex;
	align-items: start;
	justify-content: start;
	position: relative;
}
.gs24-toc-link:active {
	opacity: .5;
}
.gs24-toc-link span {
	max-width: 300px;
	display: inline-block;
	font-size: 16px;
	letter-spacing: .03em;
	padding: .3em .5em .1em .5em;
	background-color: var(--offblack);
}
.gs24-toc-link:hover span {
	background-color: var(--offwhite);
	color: var(--offblack);
}
.gs24-toc-link-genart {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: flex;
	flex-direction: column;
	filter: grayscale(100%) brightness(50%);
}
.gs24-toc-link:hover .gs24-toc-link-genart {
	filter: grayscale(0%) brightness(100%);
}
.gs24-toc-link-genart-slice {
	flex-grow: 1;
	background-size: auto 100000%;
	position: relative;
	background-repeat: no-repeat;
	transition: flex-grow 2s cubic-bezier(0.25, 1, 0.5, 1), background-size 1s cubic-bezier(0.7, 0, 0.84, 0);
}
@media only screen and (max-width: 800px) {
	.gs24-toc {
		grid-template-columns: 1fr;
	}
}

/* Nav */
.gs24-nav {
	display: flex;
	align-items: center;
	background-color: rgb(15, 15, 15);
	position: sticky;
	top: 0;
	z-index: 9;
	height: 60px;
}
.gs24-nav-arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 20px;
	fill: var(--offwhite);
}
.gs24-nav-arrow:hover {
	opacity: .8;
}
.gs24-nav-arrow:active {
	opacity: .5;
}
.gs24-nav-arrow svg {
	width: 100%;
	height: 100%;
}
.gs24-nav-title {
	flex-shrink: 0;
	height: 100%;
	align-items: center;
	justify-content: center;
	color: var(--offblack);
	text-decoration: none;
}
.gs24-nav-title:hover {
	opacity: .8;
}
.gs24-nav-title:active {
	opacity: .5;
}
.gs24-nav-title div {
	opacity: 0;
	display: flex;
	height: 100%;
	align-items: stretch;
	text-transform: uppercase;
	font-size: 20px;
}
.gs24-nav-title div span span {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: .15em;
	width: 1.2em;
	text-align: center;
	transition: background-color 1s linear, font-variation-settings 1s linear;
}
.gs24-nav-title-white {
	display: flex;
	color: var(--offblack);
	background-color: var(--offwhite);
}
.gs24-nav-title-black {
	display: flex;
	color: var(--offwhite);
	background-color: var(--offblack);
}
.gs24-nav-spacer {
	flex-grow: 1;
}
.gs24-nav-link {
	cursor: pointer;
	color: var(--offwhite);
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	text-transform: uppercase;
	font-size: 16px;
	font-variation-settings: "wght" 600, "SRFF" 0;
}
.gs24-nav-link[data-active="1"] {
	background-color: var(--offwhite);
	color: var(--offblack);
}
.gs24-nav-link:hover {
	opacity: .8;
}
.gs24-nav-link:active {
	opacity: .5;
}

/* Menus */
.gs24-menus {
	position: absolute;
	right: 0;
	top: 60px;
	width: 400px;
	z-index: 9;
	height: calc(100dvh - 60px);
	background-color: var(--offwhite);
}
.gs24-menus[data-menu="none"] {
	display: none;
}
.gs24-menus-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	z-index: 9;
	fill: var(--offblack);
	cursor: pointer;
	background-color: var(--offwhite);
	padding: 5px;
}
.gs24-menus-close svg {
	width: 100%;
	height: 100%;
}
.gs24-menus-close:hover {
	background-color: var(--offblack);
	fill: var(--offwhite)
}
.gs24-menus-close:active {
	opacity: .5;
}
.gs24-menu {
	display: none;
	color: var(--offblack);
	overflow-y: scroll;
	height: 100%;
}
.gs24-menus[data-menu="about"] #gs24-about {
	display: block;
	padding: 40px 20px;
	line-height: 1.4em;
}
.gs24-menus[data-menu="index"] #gs24-index {
	display: block;
	padding-bottom: 40px;
}
.gs24-index-letter {
	margin-top: 20px;
	font-size: 16px;
	padding: 13px 20px 10px 20px;
	text-transform: uppercase;
	font-variation-settings: "wght" 600, "SRFF" 0;
}
#gs24-index a {
	display: block;
	color: var(--offblack);
	font-size: 16px;
	padding: 8px 20px 5px 20px;
	text-decoration: none;
}
#gs24-index a:hover {
	background-color: var(--offblack);
	color: var(--offwhite);
}
#gs24-index a:active {
	opacity: .5;
}
.gs24-menus[data-menu="departments"] #gs24-departments {
	display: block;
	padding: 20px 0;
}
.gs24-department {
	display: block;
	color: var(--offblack);
	text-transform: uppercase;
	font-size: 16px;
	padding: 13px 20px 10px 20px;
	font-variation-settings: "wght" 600, "SRFF" 0;
	text-decoration: none;
}
.gs24-department:hover {
	background-color: var(--offblack);
	color: var(--offwhite);
}
.gs24-department:active {
	opacity: .5;
}